@model IEnumerable<ProjeYonetimiOdev.Models.Ozellikler>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $("#ozellik").change(function myfunction() {
        var id = $(this).val();
        
        $.ajax({
            type: "GET",
            url: "/Admin/UrunOzellikDegereGore",
            data: { ıd: id },
            success: function myfunction(veri) {
                
                $("#deger").html('');
                $("#deger").html(veri);
            },
            error: function myfunction() {
                alert("hata");
            }
        });
    })
</script>
<div class="form-group">
    <label>Özellik Tip :</label>
    <div>
        <select class="form-control" name="OzelliklerID" id="ozellik">

            <option>Özelik tip seçiniz</option>
            @foreach (var ozellik in Model)
            {
                <option value="@ozellik.ID">@ozellik.Adi</option>
            }
        </select>
    </div>
</div>