<div class="feature-section section mb-60">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-12 mb-30">
                <!-- Feature Start -->
                <div class="feature feature-shipping">
                    <div class="feature-wrap">
                        <div class="icon"><img src="~/Content/icon/feature-van.png" alt="Feature"></div>
                        <h4>ÜCRETSİZ KARGO</h4>
                        <p>Uygun fiyatlarla</p>
                    </div>
                </div><!-- Feature End -->
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-30">
                <!-- Feature Start -->
                <div class="feature feature-guarantee">
                    <div class="feature-wrap">
                        <div class="icon"><img src="~/Content/icon/feature-walet.png" alt="Feature"></div>
                        <h4>PARA İADESİ</h4>
                        <p>15 Gün içinde iade</p>
                    </div>
                </div><!-- Feature End -->
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-30">
                <!-- Feature Start -->
                <div class="feature feature-security">
                    <div class="feature-wrap">
                        <div class="icon"><img src="~/Content/icon/feature-shield.png" alt="Feature"></div>
                        <h4>güvenli ödeme</h4>
                        <p>Ödeme güvenliği</p>
                    </div>
                </div><!-- Feature End -->
            </div>

        </div>
    </div>
</div>